Max d computation

In [1]:
import pandas as pd
import re, string
import time
import json

start = time.time()
with open('Computed/wiki_dict.json') as json_file:
    wiki_dict = json.load(json_file)
wiki = pd.read_csv('Computed/wiki.csv')[['content','title','id']]
print(wiki)
end = time.time()
print(end - start)

                                                   content  \
0        morocco saudi arabia relations moroccan saudi ...
1        anthoni unit post office th anthoni unit post ...
2        dumraon vidhan sabha constitu dumraon vidhan s...
3        chaker khazaal chak khazaal born 28 septemb 19...
4        vicent pascual pastor vicent pascual pastor al...
...                                                    ...
1286259  toppr toppr product haygot educ privat limit f...
1286260  outlin education th outlin overview topic guid...
1286261  raell padamsee rael padamse indian theatr pers...
1286262  megan callaway megan callaway founder archer s...
1286263  dian reay dian reay sociologist professor educ...

                                     title       id
0           Morocco–Saudi Arabia relations        1
1        Anthony United States Post Office        2
2        Dumraon Vidhan Sabha constituency        3
3                           Chaker Khazaal        4
4                   Vicente Pascual Pastor        5
...                                    ...      ...
1286259                              Toppr  1286260
1286260               Outline of education  1286261
1286261                     Raell Padamsee  1286262
1286262                     Megan Callaway  1286263
1286263                         Diane Reay  1286264

[1286264 rows x 3 columns]
54.03943610191345

In [6]:
def maxD(content):
    dict = {}
    for word in str(content).split(" "):
#         print(word)
        if word in dict.keys():
            dict[word] += 1
        else:
            dict[word] = 1
    max_value = max(dict.values())
#     max_keys = ""
#     for k in dict.keys():
#         if int(max_value) == int(dict[k]):
#             max_keys += str(k) + " "
#     print(max_keys)
#     print(max_value)
#     return max_keys
    return max_value
    
def noMultipleSpace(content):
    ret = content.split(" ")
    while("" in ret):
        ret.remove("")
    ret2 = ""
    for r in ret:
        ret2 += r + " "
#     print(ret2)
    return ret2

def noSpaceEnd(content):
    return content[0:(len(content)-1)]

In [9]:
# wiki['title'] = wiki['title'].apply(noMultipleSpace)
# wiki['max_occur_words'] = wiki['max_occur_words'].apply(noSpaceEnd)

# wiki['max_occur_words'] = wiki['content'].apply(maxD)
# wiki['max_occur_number'] = wiki['content'].apply(maxD)
# wiki
# wiki.to_csv("wiki.csv")

Given a query q, create a set of documents CR comprised of all the documents in DC that contain each of the terms in q. If there are less than 50 documents, then you will need to consider resources in DC that contain n-1 terms in q (all the combinations).

In [36]:
import pandas as pd
import re, string
import math
import time
import json

start = time.time()
with open('Computed/wiki_dict.json') as json_file:
    wiki_dict = json.load(json_file)
wiki = pd.read_csv('Computed/wiki.csv')[['content','title','id','max_occur_words','max_occur_number']]
print(wiki)
end = time.time()
print(end - start)

                                                   content  \
0        morocco saudi arabia relations moroccan saudi ...
1        anthoni unit post office th anthoni unit post ...
2        dumraon vidhan sabha constitu dumraon vidhan s...
3        chaker khazaal chak khazaal born 28 septemb 19...
4        vicent pascual pastor vicent pascual pastor al...
...                                                    ...
1286259  toppr toppr product haygot educ privat limit f...
1286260  outlin education th outlin overview topic guid...
1286261  raell padamsee rael padamse indian theatr pers...
1286262  megan callaway megan callaway founder archer s...
1286263  dian reay dian reay sociologist professor educ...

                                     title       id max_occur_words  \
0           Morocco–Saudi Arabia relations        1   morocco saudi
1        Anthony United States Post Office        2         anthoni
2        Dumraon Vidhan Sabha constituency        3         dumraon
3                           Chaker Khazaal        4         khazaal
4                   Vicente Pascual Pastor        5           alcoy
...                                    ...      ...             ...
1286259                              Toppr  1286260           toppr
1286260               Outline of education  1286261            educ
1286261                     Raell Padamsee  1286262         product
1286262                     Megan Callaway  1286263          produc
1286263                         Diane Reay  1286264       dian reay

         max_occur_number
0                      11
1                       4
2                       5
3                       8
4                       9
...                   ...
1286259                10
1286260                 6
1286261                10
1286262                 9
1286263                 2

[1286264 rows x 5 columns]
76.01573610305786

In [37]:
def minusOne(array):
    ret = []
    for a in array:
        ret.append(int(a)-1)
    return ret

# Takes a word, returns all documents as dataframe that contains the word (Wiki)
def containsIDWiki(qArray):
    keys = []
    for qWord in qArray.split(" "):
        print(qWord)
        keys += minusOne(list(wiki_dict[str(qWord)].keys()))
#     print("before: " + str(keys))
    keys = list(dict.fromkeys(keys)) # remove duplicates
    keys.sort()
#     print("after: " + str(keys))

    return wiki.iloc[keys]

In [38]:
CR = containsIDWiki('morocco saudi')
CR
# print(wiki_dict['morocco'])

# print(wiki_dict['morocco'].keys())
# print(wiki_dict['saudi'].keys())

# mor = wiki.iloc[minusOne(list(wiki_dict['morocco'].keys()))]
# sau = wiki.iloc[minusOne(list(wiki_dict['saudi'].keys()))]
# result = pd.merge(mor, sau, on=["id"])
# result

morocco
saudi

,content,title,id,max_occur_words,max_occur_number
0,morocco saudi arabia relations moroccan saudi ...,Morocco–Saudi Arabia relations,1,morocco saudi,11
111,shannon bilbray axelrod shannon mari bilbray a...,Shannon Bilbray Axelrod,112,bilbray,9
148,soufian kourdou soufian kourdou born 21 1985 m...,Soufiane Kourdou,149,soufian kourdou basketbal club cup morocco’ na...,2
283,ma rib campaign th ma rib campaign campaign co...,Ma rib Campaign,284,houthi,8
468,oman saudi arabia relations oman saudi arabia ...,Oman–Saudi Arabia relations,469,saudi,14
...,...,...,...,...,...
1285010,wendel lira wendel silva lira born 7 januari 1...,Wendell Lira,1285011,wendel,8
1285634,complex amal th complex amal tenni complex cas...,Complexe Al Amal,1285635,complex,4
1285635,cape forks cap fork headland mediterranean coa...,Cape Three Forks,1285636,cape,7
1286137,oualidia oualidia walidiya coastal villag moro...,Oualidia,1286138,oualidia morocco,2
1286213,educ arab world educ take place arab tradit le...,Education in the Arab World,1286214,arab,15

In [47]:
try:
    wiki_dict['masdfsfakwo']
except:
    print("No")
    
wiki_dict['morocco']

No

{'1': 11,
 '149': 1,
 '830': 1,
 '1761': 1,
 '2536': 1,
 '2676': 1,
 '3563': 9,
 '4694': 1,
 '4796': 1,
 '4969': 1,
 '6057': 1,
 '6132': 2,
 '7485': 1,
 '7587': 1,
 '8130': 1,
 '8647': 1,
 '9170': 1,
 '9399': 2,
 '10052': 1,
 '10522': 1,
 '10632': 4,
 '10856': 2,
 '11743': 1,
 '11848': 2,
 '12230': 1,
 '12259': 1,
 '12767': 1,
 '12773': 1,
 '12886': 1,
 '15229': 1,
 '15266': 1,
 '16129': 3,
 '16471': 1,
 '17010': 1,
 '18078': 2,
 '18528': 6,
 '20175': 2,
 '20728': 2,
 '20923': 1,
 '22708': 1,
 '22950': 1,
 '23087': 1,
 '23620': 1,
 '23673': 1,
 '23866': 1,
 '23940': 1,
 '24794': 1,
 '25497': 4,
 '25694': 2,
 '26730': 1,
 '27575': 1,
 '27588': 1,
 '28008': 1,
 '29407': 1,
 '30557': 2,
 '30695': 2,
 '30811': 1,
 '31603': 1,
 '33090': 1,
 '33271': 3,
 '33320': 1,
 '33696': 1,
 '33828': 1,
 '34844': 2,
 '35139': 1,
 '36002': 1,
 '36702': 4,
 '36737': 1,
 '37855': 1,
 '38447': 2,
 '39256': 2,
 '40434': 3,
 '40532': 1,
 '41062': 1,
 '41180': 1,
 '42085': 4,
 '43373': 1,
 '43409': 2,
 '43683': 2,
 '43717': 1,
 '44288': 2,
 '44603': 1,
 '44751': 1,
 '46316': 1,
 '47033': 1,
 '47442': 1,
 '48042': 3,
 '49167': 1,
 '49503': 1,
 '51063': 1,
 '51298': 1,
 '51394': 1,
 '51448': 1,
 '51628': 3,
 '52120': 1,
 '52367': 1,
 '52697': 1,
 '53480': 2,
 '55489': 1,
 '56244': 1,
 '57797': 1,
 '59991': 1,
 '62255': 1,
 '62732': 1,
 '62893': 1,
 '63255': 1,
 '63418': 1,
 '64195': 1,
 '64506': 1,
 '64608': 1,
 '65270': 4,
 '65852': 1,
 '66353': 1,
 '66440': 1,
 '66913': 1,
 '67392': 1,
 '67640': 2,
 '67758': 1,
 '67944': 1,
 '68197': 1,
 '68234': 1,
 '68336': 2,
 '68666': 1,
 '70279': 1,
 '70502': 1,
 '70864': 1,
 '71173': 1,
 '71831': 1,
 '71979': 10,
 '72925': 1,
 '73063': 1,
 '73579': 1,
 '73642': 1,
 '73945': 1,
 '74615': 1,
 '74979': 1,
 '75125': 1,
 '75147': 2,
 '76111': 2,
 '77438': 2,
 '78008': 6,
 '78993': 3,
 '79501': 1,
 '79856': 1,
 '80139': 1,
 '83348': 1,
 '84309': 1,
 '84789': 1,
 '84807': 1,
 '85762': 1,
 '86054': 5,
 '87185': 1,
 '87497': 1,
 '87818': 1,
 '88345': 1,
 '89494': 1,
 '90214': 9,
 '90217': 1,
 '90266': 1,
 '90384': 1,
 '90402': 2,
 '91792': 1,
 '92726': 1,
 '92728': 1,
 '93366': 1,
 '93381': 1,
 '93404': 1,
 '93421': 1,
 '93432': 1,
 '93471': 3,
 '93563': 1,
 '94097': 1,
 '95212': 3,
 '95213': 1,
 '95888': 1,
 '95897': 1,
 '95904': 1,
 '96844': 1,
 '96851': 2,
 '96860': 1,
 '96865': 1,
 '96872': 1,
 '96891': 1,
 '96908': 3,
 '96910': 1,
 '97473': 2,
 '99385': 3,
 '100213': 1,
 '100718': 1,
 '104366': 6,
 '105096': 3,
 '106363': 1,
 '106424': 2,
 '106622': 1,
 '106652': 8,
 '107254': 2,
 '107688': 4,
 '109502': 1,
 '109566': 3,
 '110800': 1,
 '111878': 1,
 '111880': 1,
 '111884': 1,
 '111987': 1,
 '112518': 1,
 '113271': 1,
 '113445': 1,
 '113531': 1,
 '113532': 1,
 '113743': 1,
 '113767': 1,
 '114003': 1,
 '114618': 1,
 '114879': 1,
 '114940': 1,
 '115744': 1,
 '115802': 1,
 '118187': 1,
 '118960': 1,
 '119021': 1,
 '119426': 1,
 '119433': 3,
 '120597': 4,
 '120598': 3,
 '120599': 1,
 '120758': 1,
 '120843': 6,
 '120845': 3,
 '121790': 1,
 '121910': 4,
 '122022': 1,
 '127014': 1,
 '127214': 2,
 '127286': 1,
 '127641': 1,
 '127890': 1,
 '128285': 1,
 '128546': 1,
 '129371': 2,
 '130393': 5,
 '130541': 1,
 '132051': 1,
 '134185': 3,
 '134736': 5,
 '136322': 1,
 '136429': 2,
 '137221': 1,
 '138009': 3,
 '138725': 1,
 '139048': 1,
 '139301': 4,
 '139302': 1,
 '140886': 1,
 '141441': 1,
 '141483': 4,
 '141606': 2,
 '143351': 1,
 '143448': 1,
 '145643': 1,
 '146411': 1,
 '146561': 2,
 '146594': 1,
 '146595': 4,
 '146683': 2,
 '147393': 1,
 '148237': 1,
 '149148': 2,
 '149544': 1,
 '149658': 3,
 '149698': 1,
 '149777': 3,
 '150031': 3,
 '150348': 4,
 '150752': 1,
 '151127': 3,
 '151238': 3,
 '151315': 1,
 '151521': 1,
 '152370': 1,
 '152875': 1,
 '153383': 2,
 '155401': 1,
 '156259': 1,
 '156642': 7,
 '156665': 1,
 '157000': 6,
 '157150': 1,
 '157836': 1,
 '157931': 1,
 '159295': 1,
 '159318': 3,
 '159448': 1,
 '160890': 1,
 '160993': 1,
 '161449': 1,
 '161969': 1,
 '162106': 1,
 '162496': 1,
 '163092': 2,
 '163136': 2,
 '163158': 1,
 '163541': 1,
 '163717': 2,
 '163923': 1,
 '164901': 2,
 '165151': 3,
 '165979': 1,
 '166540': 2,
 '167615': 1,
 '167835': 1,
 '168628': 2,
 '168714': 5,
 '169834': 1,
 '169922': 1,
 '170441': 1,
 '170442': 2,
 '170444': 1,
 '170469': 1,
 '170493': 1,
 '170961': 1,
 '171160': 2,
 '171217': 1,
 '171332': 1,
 '176097': 6,
 '176978': 1,
 '179305': 1,
 '180427': 1,
 '180550': 1,
 '180551': 1,
 '180664': 2,
 '180979': 1,
 '181115': 1,
 '181825': 1,
 '181845': 1,
 '181859': 1,
 '181870': 2,
 '181879': 2,
 '181890': 1,
 '182361': 2,
 '182502': 1,
 '182808': 1,
 '183190': 2,
 '183191': 7,
 '183871': 3,
 '184152': 1,
 '185207': 1,
 '185439': 1,
 '187244': 1,
 '187473': 2,
 '188217': 8,
 '188319': 4,
 '188935': 2,
 '189048': 4,
 '189061': 1,
 '189096': 1,
 '189688': 1,
 '189784': 1,
 '190578': 3,
 '190751': 1,
 '190891': 1,
 '191155': 2,
 '191486': 1,
 '192414': 1,
 '192655': 1,
 '192926': 4,
 '193814': 2,
 '194503': 6,
 '194576': 3,
 '195015': 2,
 '195342': 3,
 '196005': 1,
 '196640': 1,
 '196687': 1,
 '199080': 3,
 '200607': 1,
 '201741': 1,
 '201742': 1,
 '201846': 1,
 '202180': 3,
 '203202': 1,
 '203453': 1,
 '203559': 2,
 '204220': 1,
 '204365': 1,
 '204844': 1,
 '204947': 1,
 '205395': 1,
 '206792': 1,
 '207192': 1,
 '207322': 1,
 '207326': 1,
 '207456': 6,
 '207918': 1,
 '209187': 2,
 '209339': 1,
 '210778': 1,
 '212789': 1,
 '213625': 2,
 '215214': 1,
 '216725': 1,
 '217440': 1,
 '217561': 3,
 '218343': 2,
 '220892': 6,
 '221018': 1,
 '221389': 1,
 '221454': 4,
 '221485': 2,
 '222005': 2,
 '222151': 1,
 '222158': 1,
 '222162': 2,
 '222163': 1,
 '222165': 1,
 '222170': 1,
 '222176': 1,
 '222221': 1,
 '222537': 1,
 '222554': 1,
 '225740': 1,
 '226115': 1,
 '228280': 1,
 '228844': 1,
 '228932': 1,
 '230195': 1,
 '230457': 5,
 '230576': 1,
 '230807': 2,
 '231499': 1,
 '231844': 3,
 '232262': 2,
 '233062': 3,
 '233067': 1,
 '233737': 1,
 '233845': 1,
 '234372': 1,
 '234481': 2,
 '234526': 1,
 '234688': 4,
 '236319': 1,
 '236591': 1,
 '236689': 1,
 '236991': 1,
 '237078': 1,
 '237100': 1,
 '237805': 1,
 '238023': 4,
 '239355': 1,
 '239505': 1,
 '239637': 2,
 '239964': 2,
 '240582': 1,
 '241194': 1,
 '243086': 2,
 '243115': 1,
 '243210': 1,
 '243458': 1,
 '243496': 2,
 '243712': 3,
 '243962': 2,
 '244059': 2,
 '244948': 1,
 '244949': 1,
 '245287': 1,
 '245668': 1,
 '246605': 4,
 '246836': 1,
 '246838': 1,
 '246843': 1,
 '247557': 1,
 '248348': 1,
 '248973': 2,
 '249107': 1,
 '249373': 1,
 '250497': 1,
 '250676': 1,
 '251109': 1,
 '251314': 2,
 '251618': 4,
 '251874': 2,
 '252214': 2,
 '252666': 1,
 '253238': 2,
 '253242': 1,
 '253270': 1,
 '256289': 1,
 '257323': 1,
 '257809': 1,
 '257811': 1,
 '257815': 1,
 '257816': 1,
 '257823': 1,
 '257831': 1,
 '258124': 1,
 '258751': 2,
 '259462': 1,
 '259465': 1,
 '259469': 1,
 '259485': 1,
 '259486': 1,
 '259489': 1,
 '259901': 4,
 '260143': 1,
 '260275': 1,
 '260677': 1,
 '260844': 1,
 '260992': 1,
 '262671': 1,
 '262819': 1,
 '264296': 1,
 '264396': 2,
 '264944': 1,
 '266204': 1,
 '266898': 1,
 '267360': 1,
 '267723': 6,
 '267730': 2,
 '267984': 3,
 '267993': 5,
 '270266': 2,
 '270421': 1,
 '270960': 3,
 '271243': 1,
 '271466': 2,
 '271745': 1,
 '271763': 2,
 '272123': 2,
 '272379': 6,
 '272522': 2,
 '272842': 2,
 '273364': 3,
 '273368': 2,
 '274956': 1,
 '275562': 2,
 '276207': 4,
 '276568': 1,
 '276646': 5,
 '277835': 1,
 '278138': 1,
 '278437': 1,
 '278440': 2,
 '278475': 1,
 '278896': 1,
 '278899': 1,
 '278926': 1,
 '279340': 1,
 '279743': 2,
 '281092': 1,
 '281162': 1,
 '281409': 4,
 '281475': 1,
 '281785': 1,
 '282563': 1,
 '283095': 1,
 '283135': 1,
 '287918': 1,
 '288189': 1,
 '289143': 1,
 '289888': 1,
 '290155': 2,
 '290630': 1,
 '290838': 1,
 '290848': 2,
 '291920': 1,
 '292064': 3,
 '292079': 2,
 '292096': 3,
 '292101': 1,
 '292106': 1,
 '292338': 1,
 '292382': 1,
 '292448': 2,
 '292513': 1,
 '293065': 2,
 '293293': 1,
 '293481': 1,
 '294000': 4,
 '294448': 2,
 '295447': 4,
 '295508': 2,
 '295833': 1,
 '297129': 1,
 '297775': 5,
 '299805': 2,
 '300413': 1,
 '301793': 1,
 '301832': 3,
 '302176': 1,
 '302549': 1,
 '304203': 1,
 '304252': 1,
 '304355': 1,
 '304756': 1,
 '304801': 2,
 '304837': 2,
 '305320': 1,
 '305414': 4,
 '306346': 1,
 '307698': 1,
 '307841': 1,
 '307859': 4,
 '308510': 1,
 '308711': 1,
 '310773': 2,
 '310961': 2,
 '311515': 1,
 '311793': 1,
 '312504': 1,
 '313038': 1,
 '313063': 1,
 '313166': 1,
 '313883': 1,
 '314040': 1,
 '315320': 1,
 '317125': 1,
 '317848': 2,
 '317904': 2,
 '318524': 2,
 '319154': 1,
 '319160': 1,
 '319175': 1,
 '321172': 1,
 '321430': 1,
 '321720': 1,
 '322430': 1,
 '322735': 2,
 '323102': 1,
 '323216': 1,
 '323519': 2,
 '323582': 4,
 '323591': 2,
 '323838': 1,
 '324019': 1,
 '324158': 1,
 '324366': 1,
 '324603': 1,
 '324823': 5,
 '324937': 1,
 '325722': 1,
 '325760': 1,
 '326461': 1,
 '326734': 4,
 '327401': 1,
 '329458': 1,
 '331133': 1,
 '331322': 1,
 '331470': 1,
 '332171': 1,
 '332223': 1,
 '333492': 2,
 '333830': 1,
 '334034': 1,
 '334201': 1,
 '334818': 1,
 '335113': 2,
 '335364': 1,
 '335897': 2,
 '336102': 3,
 '336581': 1,
 '336934': 1,
 '336936': 1,
 '337045': 1,
 '337967': 1,
 '338981': 1,
 '341336': 1,
 '341981': 2,
 '341982': 2,
 '342206': 6,
 '343560': 1,
 '344232': 1,
 '344862': 1,
 '345068': 1,
 '345673': 1,
 '346424': 1,
 '346555': 1,
 '346860': 1,
 '347367': 1,
 '348421': 1,
 '349042': 1,
 '349758': 1,
 '350014': 1,
 '350073': 1,
 '350539': 1,
 '351201': 1,
 '353634': 1,
 '354938': 1,
 '354953': 1,
 '355011': 1,
 '355204': 3,
 '355242': 4,
 '355375': 2,
 '356239': 1,
 '356341': 2,
 '356967': 2,
 '358134': 4,
 '358141': 1,
 '358495': 2,
 '358869': 1,
 '359701': 1,
 '359934': 1,
 '360290': 1,
 '360334': 1,
 '361398': 1,
 '362813': 1,
 '363015': 1,
 '363788': 1,
 '363980': 1,
 '364211': 2,
 '365457': 1,
 '365996': 1,
 '366508': 2,
 '366568': 1,
 '366579': 1,
 '366654': 1,
 '366657': 1,
 '366680': 1,
 '366681': 1,
 '367453': 1,
 '367601': 1,
 '368043': 1,
 '368103': 1,
 '368329': 2,
 '368412': 1,
 '368550': 3,
 '368785': 1,
 '369763': 1,
 '370515': 1,
 '370939': 1,
 '371136': 1,
 '371495': 2,
 '371704': 1,
 '372889': 1,
 '373381': 2,
 '374471': 1,
 '374534': 1,
 '374588': 1,
 '374617': 1,
 '374683': 1,
 '374809': 1,
 '374974': 1,
 '374998': 2,
 '375053': 1,
 '375080': 1,
 '375131': 1,
 '375877': 1,
 '375897': 1,
 '376077': 1,
 '376188': 1,
 '376224': 3,
 '376700': 1,
 '376933': 3,
 '378433': 2,
 '379995': 1,
 '380841': 1,
 '380910': 1,
 '380931': 1,
 '381266': 2,
 '381570': 2,
 '383986': 3,
 '385026': 1,
 '385491': 1,
 '386663': 1,
 '388796': 1,
 '389311': 1,
 '389782': 2,
 '389798': 1,
 '390374': 5,
 '390604': 1,
 '391981': 1,
 '392393': 1,
 '392641': 3,
 '393853': 1,
 '394385': 1,
 '394496': 1,
 '394628': 1,
 '394990': 1,
 '395003': 1,
 '395028': 1,
 '395496': 1,
 '396361': 2,
 '396364': 1,
 '396365': 2,
 '396366': 1,
 '396367': 1,
 '396368': 2,
 '396370': 2,
 '396371': 1,
 '396373': 2,
 '396374': 2,
 '396375': 2,
 '396376': 1,
 '396377': 1,
 '396378': 1,
 '396379': 1,
 '396380': 1,
 '398054': 2,
 '398322': 1,
 '398595': 1,
 '398745': 10,
 '399726': 1,
 '399879': 1,
 '400126': 1,
 '400319': 1,
 '400511': 2,
 '401175': 1,
 '403554': 1,
 '404192': 3,
 '404731': 1,
 '406712': 1,
 '407295': 1,
 '408000': 1,
 '408110': 2,
 '410499': 1,
 '410932': 1,
 '410976': 1,
 '411057': 4,
 '411184': 1,
 '411193': 3,
 '411299': 3,
 '411589': 1,
 '411920': 1,
 '412849': 2,
 '413078': 2,
 '414172': 1,
 '414428': 1,
 '415504': 1,
 '416722': 1,
 '417065': 7,
 '417087': 6,
 '417131': 2,
 '418089': 2,
 '420247': 1,
 '420618': 1,
 '420778': 1,
 '421365': 1,
 '421383': 1,
 '421971': 1,
 '422623': 1,
 '422728': 1,
 '422828': 1,
 '423264': 1,
 '423649': 1,
 '423656': 2,
 '424501': 1,
 '426390': 1,
 '426627': 1,
 '428074': 1,
 '428182': 1,
 '428626': 1,
 '428733': 1,
 '428890': 1,
 '428996': 1,
 '429033': 1,
 '429663': 1,
 '429868': 1,
 '429980': 1,
 '430009': 1,
 '430058': 1,
 '431587': 1,
 '432749': 1,
 '432820': 1,
 '433019': 1,
 '434302': 1,
 '434326': 1,
 '434466': 1,
 '434722': 1,
 '435523': 1,
 '435536': 4,
 '436371': 1,
 '436379': 1,
 '436456': 1,
 '437547': 2,
 '438219': 1,
 '438313': 1,
 '439866': 3,
 '440175': 1,
 '440363': 1,
 '440415': 2,
 '440505': 1,
 '441824': 1,
 '441920': 1,
 '442165': 1,
 '442455': 2,
 '443040': 1,
 '443880': 1,
 '444121': 1,
 '444714': 1,
 '445346': 1,
 '445829': 1,
 '446908': 1,
 '446946': 1,
 '447475': 1,
 '447681': 1,
 '447746': 1,
 '448811': 1,
 '449521': 1,
 '449603': 1,
 '450091': 1,
 '450533': 1,
 '450852': 1,
 '450900': 1,
 '452432': 1,
 '452565': 1,
 '452704': 1,
 '452709': 2,
 '452994': 1,
 '454418': 3,
 '454785': 1,
 '455899': 1,
 '456575': 1,
 '459190': 3,
 '459729': 1,
 '459898': 1,
 '460117': 1,
 '462210': 1,
 '462759': 1,
 '462995': 4,
 '463007': 3,
 '463059': 3,
 '464891': 1,
 '464956': 1,
 '465025': 9,
 '466665': 1,
 '466768': 1,
 '467148': 1,
 '467413': 1,
 '467793': 3,
 '467886': 1,
 '469306': 1,
 '469921': 3,
 '470157': 1,
 '470258': 2,
 '470948': 1,
 '471484': 1,
 '472106': 2,
 '472850': 1,
 '472993': 1,
 '473220': 4,
 '473245': 4,
 '473835': 1,
 '473955': 1,
 '473962': 4,
 '475227': 1,
 '475344': 5,
 '475462': 1,
 '475521': 1,
 '478183': 1,
 '478229': 1,
 '478486': 1,
 '478927': 1,
 '479015': 1,
 '479495': 4,
 '479500': 3,
 '479576': 1,
 '479784': 2,
 '479927': 1,
 '480327': 2,
 '480660': 2,
 '481055': 2,
 '482452': 1,
 '482618': 1,
 '483483': 1,
 '483882': 1,
 '484223': 1,
 '484364': 1,
 '486360': 1,
 '486542': 4,
 '486549': 1,
 '486597': 1,
 '486898': 1,
 '487481': 1,
 '487667': 1,
 '489361': 1,
 '489610': 1,
 '489710': 3,
 '490663': 1,
 '490672': 1,
 '490697': 5,
 '491030': 1,
 '491252': 1,
 '492146': 4,
 '492157': 2,
 '493044': 1,
 '493066': 2,
 '494545': 3,
 '494756': 3,
 '494889': 1,
 '495241': 1,
 '495445': 1,
 '495757': 4,
 '496576': 1,
 '496582': 1,
 '497337': 1,
 '497394': 1,
 '499176': 4,
 '499186': 3,
 '499258': 1,
 '500220': 1,
 '500886': 1,
 '502079': 1,
 ...}

## Freq

freq(w, d) is the number of times **w** appears in **d**

In our case, w is a word in the query, and d is the CR that we had.

In [40]:
def getFreq(word,doc_id):
    if str(doc_id) in wiki_dict[word].keys():
        return wiki_dict[word][str(doc_id)]
    else:
        return 0

print(getFreq('morocco', 1))

11

## Maxd

Maxd is the number of times the most frequently-occurred term appears in d (which is constant for each document)

In [48]:
def getMaxd(doc_id):
    return CR['max_occur_number'].iloc[doc_id-1]

print(getMaxd(1))

11

## N

N is the number of documents in DC

In [42]:
def getN():
    return len(wiki)

print(getN())

1286264

## nw

nw is the number of documents in DC in which w appears at least once

In [43]:
def getnw(word):
    return len(list(wiki_dict[word].keys()))

print(getnw('morocco'))

2503

## TF-IDF

Application for the whole query

In [46]:
def getTFIDF(word, doc_id):
    TF = getFreq(word, doc_id)/getMaxd(doc_id)
    IDF = math.log2(getN()/getnw(word))
    return TF*IDF

word = "morocco"
doc_id = 1
print(getTFIDF(word,doc_id))

11.006493389800085