## Dataframe column addition

### Session id

In [3]:
import pandas as pd
import re, string
import time
import json

In [48]:
with open('Computed/ql.json') as json_file:
    ql_dict = json.load(json_file)
ql = pd.read_csv('Computed/ql.csv')[['AnonID','Query','QueryTime']]
print(ql)

num = 0
prev_id = 0

def sessionID(id):
    global num, prev_id
    if prev_id != int(id):
        num = num + 1
        prev_id = int(id)
        
    return num

ql['session_id'] = ql['AnonID'].apply(sessionID)
ql = ql[['AnonID','session_id','Query','QueryTime']]
# ql.to_csv('ql.csv')

Query Length

In [10]:
ql = pd.read_csv('Computed/ql.csv')[['AnonID','session_id','Query','QueryTime']]
print(ql)

def sessionID(query):
    ret = query.split(" ")
    while "" in ret:
        ret.remove("")
    return len(ret)


ql['length'] = ql['Query'].apply(sessionID)
ql = ql[['AnonID','session_id','Query','QueryTime','length']]

# ql.to_csv('ql.csv')

           AnonID  session_id                              Query  \
0             142           1              merit releas appear
1             217           2                          lotteri
2             217           2                          lotteri
3             217           2                          vietnam
4             217           2                          vietnam
...           ...         ...                                ...
3942349  24963973      238541  unit church christ clergi stole
3942350  24963973      238541        nation cathedr gift store
3942351  24965114      238542                          weather
3942352  24965131      238543                       dictionari
3942353  24967039      238544                     vienna opera

                   QueryTime  length
0        2006-04-22 23:51:18       3
1        2006-03-01 11:58:51       1
2        2006-03-27 14:10:38       1
3        2006-05-22 17:43:42       1
4        2006-05-22 18:03:24       1
...                      ...     ...
3942349  2006-05-31 21:54:09       5
3942350  2006-05-31 21:58:42       4
3942351  2006-05-31 21:17:04       1
3942352  2006-05-31 22:34:16       1
3942353  2006-05-31 13:59:45       2

[3942354 rows x 5 columns]

1) Instead of giving suggestions by space bar, are we do give suggestions character by character so it sort of emulates google more?
1) No, while it would be really nice, it would add a layer of complexity that you should not handle at this time. Great idea for your Project 2 ;)

2) Should there be any filtering for explicit content?
2) Excellent question. I won't require it, since it would add complexity to the project. Having said that, I will make sure I do not use as a query anything that could return unwanted terms.

3) Currently I'm using a nested dictionary approach to approach suggestions that goes "word -> queries containing that word -> frequency of query" to figure out the most relevant document.
3) Remember that is not the highest on frequency, but instead you need to look at individual sessions and do a proportion over that (as per the equation given on project specifications). The frequency would be misleading, as it would not guarantee co-occurrence.

## Query Suggestion

In [16]:
import pandas as pd
import re, string
import time
import json


# with open('Computed/wiki.json') as json_file:
#     wiki_dict = json.load(json_file)
# wiki = pd.read_csv('Computed/wiki.csv')[['content','title','id']]
# print(wiki)
# start = time.time()

with open('Computed/ql_dict_trueid.json') as json_file:
    ql_dict = json.load(json_file)
ql = pd.read_csv('Computed/ql.csv')[['AnonID','session_id','Query','QueryTime','length']]
print(ql)
# end = time.time()
# print(end - start)

           AnonID  session_id                            Query  \
0             142           1              merit releas appear
1             217           2                          lotteri
2             217           2                          lotteri
3             217           2                          vietnam
4             217           2                          vietnam
...           ...         ...                              ...
3942349  24963973      238541  unit church christ clergi stole
3942350  24963973      238541        nation cathedr gift store
3942351  24965114      238542                          weather
3942352  24965131      238543                       dictionari
3942353  24967039      238544                     vienna opera

                   QueryTime  length
0        2006-04-22 23:51:18       3
1        2006-03-01 11:58:51       1
2        2006-03-27 14:10:38       1
3        2006-05-22 17:43:42       1
4        2006-05-22 18:03:24       1
...                      ...     ...
3942349  2006-05-31 21:54:09       5
3942350  2006-05-31 21:58:42       4
3942351  2006-05-31 21:17:04       1
3942352  2006-05-31 22:34:16       1
3942353  2006-05-31 13:59:45       2

[3942354 rows x 5 columns]
14.814888954162598

In [19]:
# print(wiki_dict['merit'])
# print(wiki_dict['merit'].keys())
# '940', '1167'

# Takes a word, returns all rows of dataframe that contain the word, that has a bigger length than num
def getRows(word, num):
#     print(ql_dict[str(word)].keys())
#     return ql[(ql['session_id'].astype('str').isin(list(ql_dict[str(word)].keys()))) & (ql['length'].astype('int64') > num)]
    return ql.iloc[list(ql_dict[str(word)].keys())][ql['length'].astype('int64') > num]

word = 'vietnam'
word = word.strip()


# print(len(word.split(" ")))
# print(getRows(word, len(word.split(" "))))
# print(ql[ql['length'].astype('int64') > 2])

Rows = getRows(word, len(word.split(" ")))
# print(Rows) # This prints all rows that contain the row
result = Rows[['session_id','Query','QueryTime']].groupby(["Query","session_id"]).count().rename(columns={"QueryTime":"Occurance_per_session_id"})
result = result.reset_index()
# print(result) # This prints count for a single session
result = result.groupby(by=['Query']).count()
result['Score'] = result['Occurance_per_session_id']/len(Rows.groupby(by=["session_id"]))
# # print(str(len(Count.groupby(by=["session_id"]))) + " individual sessions")
result = result.sort_values(by=["Score"], ascending=False)[['Occurance_per_session_id', 'Score']]

result

/var/folders/kb/7q1qk5ds74sdxqbgl26pm2vw0000gp/T/ipykernel_54049/3704226885.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return ql.iloc[list(ql_dict[str(word)].keys())][ql['length'].astype('int64') > num]

                                 Occurance_per_session_id     Score
Query
vietnam war                                            91  0.220874
vietnam wall                                           11  0.026699
vietnam veteran                                        10  0.024272
presid south vietnam                                    9  0.021845
vietnam memori                                          7  0.016990
...                                                   ...       ...
pictur vietnam                                          1  0.002427
pictur food vietnam                                     1  0.002427
phu bai vietnam                                         1  0.002427
photo vietnam memori washington                         1  0.002427
year vietnam war began                                  1  0.002427

[531 rows x 2 columns]

In [4]:
print(list(ql_dict[str('vietnam')].keys()))
vietnam: id

['3', '4', '1137', '1138', '1139', '1140', '1276', '3176', '8214', '12992', '14727', '33053', '33054', '33055', '40881', '51372', '51373', '51374', '51375', '51376', '51377', '51378', '51379', '51380', '51381', '51382', '51383', '51384', '51385', '51386', '51387', '51388', '51389', '51390', '51391', '51392', '51393', '51394', '51395', '51396', '51397', '51398', '51399', '51400', '51401', '51402', '51403', '51404', '51405', '51406', '51407', '51408', '51409', '51410', '51411', '51412', '51413', '54726', '55203', '55204', '55205', '55206', '73690', '79834', '80139', '80461', '80462', '80463', '80464', '80465', '80467', '80481', '94452', '95715', '95719', '95722', '106768', '133626', '137748', '153065', '156896', '159219', '159220', '159226', '159227', '159228', '159229', '159230', '159236', '159237', '159238', '159239', '165241', '165242', '165249', '165250', '165251', '165252', '165253', '165254', '170867', '176418', '176419', '176423', '176424', '176425', '176426', '176427', '176428', '176429', '178272', '184852', '188967', '213616', '214210', '216862', '216863', '216864', '231594', '231595', '231596', '231597', '234484', '234485', '234486', '234487', '234489', '239560', '254760', '254761', '254894', '254896', '260934', '260935', '267115', '267116', '268877', '268878', '268879', '268880', '276185', '278944', '280064', '311736', '321589', '321590', '324017', '334475', '363678', '363679', '363940', '365642', '373467', '379266', '380554', '380555', '386893', '386894', '408899', '414591', '439580', '439581', '439582', '442717', '450911', '453382', '453383', '472794', '473126', '473127', '478781', '507729', '507730', '507731', '507732', '507733', '507734', '515785', '515786', '515787', '515788', '515789', '516881', '516882', '525506', '534776', '569726', '569728', '572925', '572926', '573012', '573013', '574474', '587798', '600522', '600523', '602700', '602736', '602737', '602738', '602739', '602741', '602742', '602745', '602747', '602748', '614559', '621327', '623923', '623924', '633645', '636808', '645581', '645582', '652399', '663337', '673552', '676080', '684298', '684299', '686858', '686859', '701054', '713951', '716879', '717129', '727735', '727737', '728712', '742465', '750360', '758788', '770974', '786148', '791873', '791966', '792123', '793080', '808959', '821192', '834244', '834245', '834246', '834261', '850712', '851380', '853655', '862207', '870846', '870847', '870848', '870849', '870850', '870851', '870852', '870853', '870854', '870855', '870856', '870857', '870858', '870859', '870860', '870892', '870893', '870894', '870895', '870896', '876965', '876967', '891041', '891042', '891043', '891044', '893342', '893343', '901665', '901670', '901671', '906692', '910149', '927097', '939149', '939150', '939151', '939152', '939246', '963644', '969760', '969763', '969764', '969765', '969768', '969780', '969781', '969782', '969783', '969789', '1001573', '1011271', '1018105', '1018106', '1018107', '1018108', '1018109', '1018110', '1018113', '1018114', '1018115', '1018116', '1019529', '1019530', '1019531', '1023036', '1028851', '1028852', '1028853', '1031487', '1031488', '1031490', '1031491', '1034774', '1035022', '1035023', '1062228', '1063518', '1067094', '1079994', '1085457', '1110006', '1110007', '1110008', '1110010', '1110011', '1110013', '1110014', '1110018', '1110027', '1141087', '1143793', '1143794', '1153029', '1153030', '1153036', '1153037', '1153038', '1153039', '1153040', '1153041', '1153042', '1153052', '1153053', '1153054', '1153055', '1153056', '1153057', '1153058', '1153059', '1153060', '1153061', '1153062', '1153951', '1156041', '1156043', '1156678', '1162807', '1171213', '1171214', '1171215', '1171216', '1171218', '1171219', '1171221', '1190482', '1209255', '1211478', '1211486', '1234593', '1234655', '1234664', '1235503', '1240719', '1252629', '1305377', '1305378', '1305379', '1320077', '1320081', '1320082', '1329730', '1337268', '1339307', '1339474', '1362898', '1362899', '1366688', '1366689', '1366690', '1366691', '1369379', '1379596', '1379597', '1379598', '1379599', '1379601', '1379609', '1379610', '1386514', '1386871', '1388808', '1388809', '1388810', '1388811', '1388812', '1394834', '1394835', '1394836', '1395276', '1411587', '1411590', '1415241', '1415790', '1415791', '1422045', '1434694', '1443979', '1447344', '1453854', '1453855', '1461160', '1470152', '1470153', '1470154', '1470155', '1482868', '1498686', '1508490', '1521666', '1535868', '1538725', '1538726', '1538727', '1538728', '1541133', '1541134', '1541139', '1541205', '1541206', '1541207', '1544671', '1553342', '1553343', '1560854', '1560994', '1570626', '1580123', '1596288', '1596289', '1598900', '1598901', '1614573', '1614574', '1642008', '1642011', '1642012', '1642013', '1642014', '1642016', '1650529', '1650972', '1650973', '1650974', '1651080', '1654034', '1654035', '1656178', '1656179', '1656725', '1672090', '1675784', '1678883', '1718629', '1718630', '1725015', '1734996', '1735012', '1746234', '1776868', '1780774', '1780777', '1788360', '1788362', '1788366', '1788367', '1818164', '1819373', '1825901', '1825902', '1825912', '1861253', '1861257', '1861295', '1861301', '1861315', '1863494', '1881162', '1881999', '1883744', '1888876', '1888877', '1888878', '1888879', '1888880', '1888964', '1888989', '1913249', '1953772', '1953777', '1953778', '1958074', '1958075', '1958076', '1958078', '1958079', '1958089', '1958092', '1966023', '1967341', '1969110', '1969111', '1969112', '1987812', '1990579', '1990580', '1990581', '1996995', '2015509', '2024675', '2027556', '2053524', '2055110', '2055111', '2071053', '2082418', '2095177', '2099619', '2100017', '2101663', '2110145', '2110146', '2114724', '2114726', '2121998', '2134958', '2162627', '2166073', '2185236', '2187532', '2188675', '2190055', '2194212', '2194213', '2198838', '2198839', '2198842', '2210321', '2210322', '2210535', '2210536', '2213697', '2222490', '2222491', '2222492', '2222493', '2222494', '2222495', '2222496', '2222498', '2222499', '2222500', '2222502', '2241948', '2242474', '2250351', '2254424', '2254770', '2255651', '2255947', '2256096', '2256097', '2261622', '2265164', '2265165', '2272476', '2272477', '2272478', '2272479', '2272480', '2276869', '2281647', '2281649', '2291042', '2311327', '2311343', '2328438', '2328440', '2328441', '2328442', '2328443', '2328445', '2328465', '2328466', '2328470', '2328471', '2333177', '2363060', '2366631', '2368866', '2368868', '2382894', '2382895', '2382896', '2398067', '2398068', '2398069', '2398070', '2398071', '2398072', '2398073', '2398074', '2398075', '2398076', '2398077', '2398078', '2398079', '2398080', '2398081', '2398082', '2403342', '2418066', '2418699', '2421455', '2421456', '2421457', '2421458', '2422940', '2427822', '2441606', '2441614', '2450605', '2461379', '2461380', '2463173', '2469724', '2471041', '2475436', '2475437', '2475438', '2485556', '2487220', '2503800', '2506839', '2506840', '2516349', '2516352', '2516363', '2516364', '2516365', '2516366', '2516367', '2520077', '2520078', '2520079', '2520081', '2520385', '2520386', '2520387', '2531553', '2548444', '2548445', '2552582', '2574606', '2587804', '2587805', '2587806', '2616929', '2623669', '2637535', '2641128', '2666754', '2666756', '2666757', '2674304', '2674988', '2679076', '2680211', '2680518', '2680522', '2691936', '2691937', '2693159', '2693172', '2693267', '2698399', '2698400', '2701711', '2711736', '2711737', '2711739', '2711740', '2711741', '2711744', '2720627', '2721459', '2742855', '2750050', '2751248', '2751257', '2751262', '2751272', '2751284', '2751285', '2751292', '2792214', '2804687', '2806014', '2818495', '2831438', '2835791', '2835792', '2835793', '2835794', '2835795', '2835796', '2835797', '2835798', '2835799', '2835800', '2835801', '2835802', '2835942', '2835943', '2835944', '2835951', '2835959', '2836009', '2839303', '2842001', '2863134', '2863141', '2863142', '2863144', '2863145', '2863148', '2863149', '2863156', '2863157', '2863158', '2863160', '2863161', '2863163', '2863165', '2863166', '2863307', '2874724', '2880328', '2880372', '2880373', '2897155', '2898333', '2898334', '2898335', '2914429', '2914430', '2914431', '2914441', '2917214', '2917220', '2919332', '2921757', '2923665', '2923666', '2923667', '2923668', '2923669', '2923670', '2923671', '2923672', '2923673', '2923674', '2923675', '2923676', '2923677', '2923678', '2923679', '2923680', '2923681', '2923682', '2923683', '2923684', '2923685', '2923686', '2923687', '2923688', '2923689', '2923690', '2923691', '2923692', '2923693', '2923694', '2923695', '2923696', '2923697', '2923698', '2923699', '2923700', '2923701', '2923702', '2923703', '2923704', '2923705', '2923721', '2923722', '2923723', '2923724', '2923725', '2923726', '2923727', '2923728', '2923729', '2923730', '2923731', '2923732', '2923733', '2923734', '2923735', '2923736', '2923737', '2923738', '2923739', '2923740', '2923741', '2923742', '2923743', '2923744', '2923745', '2923746', '2923747', '2923748', '2923749', '2923750', '2923751', '2923752', '2923753', '2923754', '2923755', '2923756', '2923757', '2923758', '2923759', '2923760', '2923761', '2923762', '2923763', '2923764', '2923765', '2923766', '2923767', '2923768', '2923769', '2923770', '2923771', '2923772', '2923773', '2923774', '2923775', '2923776', '2923777', '2927315', '2927316', '2935831', '2937890', '2937891', '2937892', '2937893', '2937894', '2938516', '2938521', '2940823', '2940824', '2940825', '2945644', '2947140', '2947141', '2947142', '2947143', '2952137', '2952142', '2952143', '2952144', '2952145', '2952146', '2966935', '2988514', '2988515', '3008445', '3013587', '3021418', '3021419', '3021420', '3027099', '3061689', '3066321', '3073226', '3073228', '3073229', '3076306', '3100783', '3110106', '3111905', '3111906', '3111907', '3111908', '3111909', '3116260', '3116267', '3116270', '3128675', '3135598', '3135647', '3137746', '3137988', '3138141', '3138235', '3138625', '3138644', '3142029', '3172525', '3173453', '3174380', '3174383', '3179049', '3185753', '3224964', '3238337', '3238343', '3238344', '3245983', '3260347', '3260348', '3260349', '3260350', '3260351', '3260352', '3260353', '3260354', '3281320', '3281321', '3281322', '3282186', '3282187', '3282188', '3282189', '3282190', '3282191', '3282194', '3282195', '3282196', '3282197', '3282198', '3282199', '3282200', '3282201', '3282202', '3282203', '3282204', '3304159', '3317535', '3317539', '3323783', '3329884', '3333851', '3333968', '3343530', '3351974', '3352983', '3354177', '3355752', '3355753', '3363455', '3368030', '3379087', '3392810', '3392811', '3392812', '3392813', '3394072', '3397124', '3405805', '3405806', '3405808', '3405809', '3411343', '3418595', '3418596', '3418597', '3418599', '3425456', '3431051', '3431092', '3457198', '3459673', '3459674', '3459675', '3459699', '3463572', '3476114', '3482483', '3482484', '3482765', '3482766', '3487729', '3487730', '3497408', '3501704', '3501705', '3501706', '3501724', '3501740', '3501758', '3501759', '3501799', '3501800', '3501802', '3501803', '3501804', '3501805', '3501806', '3501807', '3501808', '3514453', '3515497', '3526497', '3526498', '3526499', '3526500', '3536098', '3536105', '3536107', '3536108', '3536109', '3544362', '3550332', '3550334', '3550335', '3550336', '3550697', '3555451', '3562160', '3593297', '3608871', '3608960', '3608961', '3609186', '3609187', '3609188', '3609189', '3609190', '3618031', '3630428', '3630429', '3640829', '3640830', '3640831', '3640832', '3645362', '3648078', '3648079', '3648238', '3648242', '3649029', '3650684', '3659830', '3671578', '3671579', '3671580', '3671581', '3671585', '3671586', '3673328', '3673329', '3673330', '3673331', '3673332', '3673333', '3673469', '3673470', '3673471', '3673472', '3673473', '3675535', '3686882', '3697650', '3697651', '3712732', '3714024', '3720407', '3720423', '3728448', '3728450', '3743162', '3762076', '3762077', '3762078', '3780921', '3795933', '3799767', '3799768', '3799769', '3799770', '3807245', '3807246', '3807247', '3807248', '3820817', '3825638', '3827699', '3827700', '3836609', '3836610', '3843053', '3844279', '3844287', '3847287', '3856261', '3856262', '3856263', '3857046', '3857048', '3886861', '3890632', '3890633', '3890634', '3900856', '3900857', '3901989', '3902324', '3904189', '3904190', '3904191', '3904192', '3904193', '3904194', '3904195', '3904196', '3914532', '3918516', '3918531', '3922501', '3922502', '3923036', '3923516', '3923517', '3923521', '3923524', '3933052', '3933053']